# API Configuration
REACT_APP_API_URL=http://localhost:3001
REACT_APP_API_VERSION=v1

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyAs9DUF2Sm8JlHA05J3c_UDmv2SLJzzpm0
REACT_APP_FIREBASE_AUTH_DOMAIN=jayvico-ams.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=jayvico-ams
REACT_APP_FIREBASE_STORAGE_BUCKET=jayvico-ams.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=887968234312
REACT_APP_FIREBASE_APP_ID=1:887968234312:web:dae1a9f1b401165f46d17d
REACT_APP_FIREBASE_MEASUREMENT_ID=G-ZFSK9XF9XE

# Environment
REACT_APP_ENV=development

